EXTERNAL_URL=https://trinity.example.com
PUBLIC_WEBSOCKET_URL=/api

# PostgreSQL
DATABASE_URL=postgres://localhost/trinity

# Hack Club AUth
HCA_CLIENT_ID=
HCA_CLIENT_SECRET=

# Hackatime
HACKATIME_CLIENT_ID=
HACKATIME_CLIENT_SECRET=
